.setLocationPopup {
    background-color: white;
    padding: 25px;
    position: fixed;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
    z-index: 2;
}

.locationTitle {
    float: left;
}

.city_map_container {
  position: relative;
  width: 70%;
  margin-left: 15%;
  background: transparent;
}

#pinOnMap {
  position: absolute;
}

.loc_setting_city_map {
  width: 100%;
}

#done {
    text-transform: none;
    display: inline-block;
    margin-right: 70px;
    background-color: rgba(154, 212, 160, 0.705);
}

#checkmark {
    font-size: 20px;
}

#btnText {
    margin: 10px;
}

#bottomPin {
    display: inline-block;
    left: 80px;
    bottom: 50px;
    font-size: 30px;
}
