#users_div {
    position: relative;
    top: 20vh;
    left: 35vw;
    width: 450px;
}

#edit_div svg {
    position: relative;
    right: 5px;
}

#edit_div h6 {
    float: right;
}

#edit_div button {
    outline: none;
    border: 0px;
    background-color: inherit;
}