#pollEntries {
    position: relative;
    width: 1020px;;
    top: 18vh;
    left: 21vw;
}

#pollEntries #poll_edit button {
    border: none;
    background-color: inherit;
    font-size: 1.25em;
    font-weight: 500;
}

#pollEntries button:hover,
#pollEntries button:focus {
    outline: none;
}

#pollEntries #poll_edit #edit_button {
    display: inline;
    position: absolute;
    font-size: large;
    right: 98px;
}

#pollEntries #poll_edit #edit_button h6 {
    float: right;
    position: relative;
    top:  5px;
    left: 5px;
}

#pollEntries #poll_edit #done_button:hover,
#pollEntries #poll_edit #done_button {
    color: rgb(188,83,98);
    background-color: inherit;
    position: absolute;
    top: 5px;
    right: 94px;
}

#pollEntries #poll_edit #done_button #done:hover,
#pollEntries #poll_edit #done_button #done {
    margin: 0px;
    background-color: inherit;
    font-size: large;
}


.highlighted {
    box-shadow: 0px 3px rgb(27,121,120);
    color: rgb(27,121,120);
}

#polls_div {
    position: relative;
    width: 900px;
    top: 20vh;
    left: 25vw;
    padding: 20px;
    border-radius: 20px 20px 20px 20px;
    background-color: beige;
}

.poll_info {
    color: rgb(114, 114, 114);
    position: relative;
    font-size: 20px;
}

.poll_info a {
    color: rgb(73, 73, 73);
    font-weight: 400;
    text-decoration: underline;
}

.poll_info a a:hover {
    color: rgb(83, 83, 83);
    font-weight: 400;
    text-decoration: none;
}

.poll_input {
    border-radius: 20px 20px 20px 20px;
    border: 2px solid rgb(22,123,121);
    margin: 1vh;
    width: 30vw;
    height: 6vh;
    padding-left: 15px;
}

.poll_error {
    border-radius: 5px 5px 5px 5px;
    border: 2px solid rgb(134,58,69);
    margin: 1vh;
    width: 30vw;
    height: 6vh;
    padding-left: 15px;
}

.error_message_div {
    margin-top: 20px;
}

.error_message_div h5 {
    color: rgb(153,64,71);
    margin-bottom: 0px;
    display: block;
}

.poll_error:focus,
.poll_input:focus {
    outline: none;
}

.star {
    font-weight: bold;
    font-size: 30px;
}

#poll_button {
    position: relative;
    color: rgb(70,75,78);
    font-size: large;
    font-weight: 500;
    padding: 10px;
    width: 30vw;
    background-color: rgb(224,238,239);
    border: 1px;
}

#poll_button:focus {
    outline: none;
}

.hide {
    display: none;
}