.admin_nav_bar {
    border-radius: 10px 10px 10px 10px;
    background-color: rgb(251,248,242);
    position: fixed;
    top: 100px;
    left: 25px;
    padding-top: 10px;
    padding-bottom: 15px;
}

.admin_nav_bar .nav-item {
    padding-left: 20px;
    padding-right: 20px;
}

.admin_nav_bar .nav-item svg {
    position: relative;
    top: 0px;
    left: 0px;
    font-size: 20px;
}

.admin_nav_bar .nav-item p {
    font-size: larger;
    margin-bottom: 0.5rem;
    color: rgb(90, 90, 90);
}

.admin_nav_bar .nav-item h5 {
    font-weight: 600;
    color: black;
}

.admin_nav_bar .nav-item h6 {
    position: relative;
    color: inherit;
    margin-bottom: 0px;
    float: right;
    padding-left: 10px;
}

.admin_nav_bar .nav-item #backButton {
    position: relative;
    right: 1px;
    left: 0px;
}

.admin_nav_bar .nav-item button {
    text-decoration: none;
    border: none;
    background-color: inherit;
    left: 0px;
    padding-top: 5px;
    padding-left: 0px;
    padding-right: 0px;
    position: relative;
}

.admin_nav_bar .nav-item input:focus,
.admin_nav_bar .nav-item button:focus {
    outline: none;
}

.admin_nav_bar .nav-item input {
    color: #464646;
    padding-left: 30px;
    padding-right: 30px;
    height: 50px;
    font-size: large;
    font-weight: 500;
    border-radius: 5px;
    background-color: rgb(224,238,239);
    border: 3px;
}

.admin_nav_bar .nav_highlighted,
.admin_nav_bar .nav_highlighted button {
    background-color: rgb(224,238,239);
    color: rgb(20,125,124);
}