/* styles for the side panel component */

.sidePanel {
    position: fixed;
    top: 180px;
}

.panel_card {
    width: 275px;
    border-radius: 15px;
    text-align: center;
    /*background: #F4F4F4;*/
    background: #E4F0F0;
    padding: 20px;
    margin: 20px;
}

.panel_card h4 {
  color: #147E7D;
}

#popup_close_button {
  position: absolute;
  outline: none;
  right: 0px;
  top: 0px;
}

div.MuiBackdrop-root{
  z-index: 2;
}
