/* styles for the side panel component */

.sidePanel {
    position: absolute;
    top: 150px;
}

.panel_card {
    width: 260px;
    border-radius: 15px;
    text-align: center;
    background: #FAF8F1;
    padding: 10px;
    margin: 10px;
}

.light_blue_highlight {
  background-color: #EAF4F4;
}

.panel_card article h3 {
  font-size: 1.17em;
}

.panel_card h4 {
  color: #147E7D;
}

#popup_close_button {
  position: absolute;
  outline: none;
  right: 0px;
  top: 0px;
}

div.MuiBackdrop-root{
  z-index: 2;
}
