#polls_div {
    position: relative;
    width: 900px;
    top: 20vh;
    left: 30vw;
    padding: 20px;
    border-radius: 20px 20px 20px 20px;
    background-color: beige;
}

.poll_info {
    color: rgb(114, 114, 114);
    position: relative;
    font-size: 20px;
}

.poll_info a {
    color: rgb(73, 73, 73);
    font-weight: 400;
    text-decoration: underline;
}

.poll_info a a:hover {
    color: rgb(83, 83, 83);
    font-weight: 400;
    text-decoration: none;
}

.poll_input {
    border-radius: 20px 20px 20px 20px;
    border: 2px solid rgb(22,123,121);
    margin: 1vh;
    width: 30vw;
    height: 6vh;
    padding-left: 15px;
}

.poll_error {
    border-radius: 5px 5px 5px 5px;
    border: 2px solid rgb(134,58,69);
    margin: 1vh;
    width: 30vw;
    height: 6vh;
    padding-left: 15px;
}

.error_message_div {
    margin-top: 20px;
}

.error_message_div h5 {
    color: rgb(153,64,71);
    margin-bottom: 0px;
    display: block;
}

.poll_error:focus,
.poll_input:focus {
    outline: none;
}

.star {
    font-weight: bold;
    font-size: 30px;
}

#poll_button {
    position: relative;
    color: rgb(70,75,78);
    font-size: large;
    font-weight: 500;
    padding: 10px;
    width: 30vw;
    background-color: rgb(224,238,239);
    border: 1px;
}

#poll_button:focus {
    outline: none;
}

.hide {
    display: none;
}