/* styles for pin component */

.Toronto {
  left: 25%;
  bottom: 62%;
  position: absolute;
}

.Paris {
  left: 46%;
  bottom: 64%;
  position: absolute;
}

.Montréal {
  left: 26.5%;
  bottom: 64%;
  position: absolute;
}

.pin_button {
  border: 0;
  background: transparent;
  border-radius: 50%;
  outline: none;
}

.pin_button:focus {
  outline: none;
}

.pin_button:hover {
  background: rgba(224,224,224,0.5);;
}
