/* .header img {
    vertical-align: middle;
    height: 80px;
}

.header ul li {
    list-style: none;
    display: inline-block;
    margin: 10px;
}

.header ul li p {
    margin: 10px;
}

#NAME {
    font-size: 200%;
	font-weight: bold;
} */

.rightArea {
    position: absolute;
    right: 100px;
    top: 150px;
    width: 300px;
}

.board {
    background-color:rgba(0, 0, 0, 0.1);
    min-height: 150px;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
}

.cityCard {
    text-align: center;
}

#topCard {
    background-color: yellow;
    border-radius: 20px;
    padding: 20px;
    margin: 20px 20px 3px 20px;
}

#bottomCard {
    background-color: yellow;
    border-radius: 20px;
    padding: 20px;
    margin: 3px 20px 20px 20px;
}

#bottomCard h4{
    margin: 0px;
}

.login ul {
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 0px;
    margin: 0px;
}

.login a {
	font-size: 120%;
	font-weight: bold;
    padding: 15px 20px;
    display: inline-block;
    background-color: rgb(141, 224, 196);
}

.leftLogin {
    border-bottom-left-radius: 20px;
    border-right: solid white 3px;
}

.rightSignup {
    border-left: solid white 3px;
}

#user {
    height: 50px;
    font-size: 130%;
    position: absolute;
    right: 20px;
    top: 60px;
    display: inline-block;
    margin: 10px;
}

.header {
    display: inline-block;
}

.icon {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    float: left;
}

#name {
    float: right;
    margin: 0px;
    margin: 10px;
}

a {
    text-decoration: none;
    color: black;
    display: block;
}

#cityPic {
    height: 150px;
}
