/* styles for top bar component */
.topBar {
  z-index: 0;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  padding-top: 13px;
  background-color: rgba(247, 247, 247, 0.9);
}

/* style the title text to be outlined */
text {
  font-weight: bold;
  font-size: 40px;
  fill: none;
  stroke: #464646;
  stroke-width: 1.5px;
  stroke-linejoin: round;
}
