/* styles for top bar component */
.topBar {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  padding-top: 13px;
  background-color: #F8F8F8;
}

/* style the title text to be outlined */
text {
  font-weight: bold;
  font-size: 40px;
  fill: none;
  stroke: #464646;
  stroke-width: 1.5px;
  stroke-linejoin: round;
}

/* make sure nothing float above top bar when scrolling */
.mainContent {
  margin-bottom: 65px;
  z-index: 0;
}

.worldLink {
  position: absolute;
  right: 210px;
  top: 15px;
  display: inline;
}

.worldLink h6 {
  float: right;
  position: relative;
}

.worldLink svg {
  float: left;
  position: relative;
  margin-right: 10px;
}

.topBar a {
  color: #464646;
}