/* styles for top bar component */
.topBar {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  padding-top: 13px;
  background-color: #F8F8F8;
}

/* style the title text to be outlined */
text {
  font-weight: bold;
  font-size: 40px;
  fill: none;
  stroke: #464646;
  stroke-width: 1.5px;
  stroke-linejoin: round;
}

a.app_name {
  color: #464646;
}

/* make sure nothing float above top bar when scrolling */
.mainContent {
  margin-bottom: 65px;
  z-index: 0;
}

