#bd {
    margin: 0px;
}

a {
    text-decoration: none;
    color: black;
    display: block;
}

.sidePanel {
    position: sticky;
    float: left;
}

.panelCard {
    border-radius: 20px;
    background: yellow;
    padding: 20px;
    margin: 20px;
    width: 200px;
}

.topBar {
    position: relative;
    overflow: hidden;
}

.topBar a {
    float: left;
    display: block;
    text-align: center;
    padding: 15px 20px;
}

.topBar a.mid{
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rightBar {
    float: right;
}

.action {
    background-color: thistle;
    border-left: solid white 3px;
}

.actionCorner {
    background-color: thistle;
    border-bottom-left-radius: 20px;
    border-right: solid white 3px;
}

#icon {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    float: left;
    margin: 0px 5px 0px 0px;
}

#username {
    float: right;
    margin: 0px 0px 0px 5px;
}
