#userMessages #published_div {
    overflow: auto;
    top: 5vh;
    right: 5vw;
    position: relative;
}

#userMessages #published_div .post_div .post {
    float: left;
    width: 85%;
    margin-right: 0px;
}

#userMessages #published_div #edit_div {
    position: relative;
    margin-left: 60vw;
    transform: translateY(450%);
    width: min-content;    
}

#userMessages #messageContainer {
    overflow: hidden;
    width: 100%;
}

#userMessages .published_post_edit {
    display: flex;
    float: left;
    margin-right: 0px;
    width: 57vw;
}

#userMessages .published_post_edit .post {
    margin-right: 0px;
    min-height: 250px;
    width: inherit;
    height: inherit;
}

#userMessages #edit_div #trash {
    color: rgb(218,128,141);
    font-size: larger;
}