#worldMapNav {
  position: absolute;
  right: 200px;
  top: 15px;
  display: inline;
  /*color: inherit;*/
  color: #147E7D;
}

a:hover {
  text-decoration: none;
}

#worldMapNav h6 {
  float: right;
  position: relative;
}

#worldMapNav svg {
  float: left;
  position: relative;
  margin-right: 10px;
}
