#login_div {
    position: relative;
    margin-left: 50vw;
    width: 50vw;
    height: 100vh;
}

.login_info {
    color: rgb(114, 114, 114);
    position: relative;
    font-size: 20px;
}

.login_info a {
    color: rgb(73, 73, 73);
    font-weight: 400;
    text-decoration: underline;
}

.login_info a a:hover {
    color: rgb(83, 83, 83);
    font-weight: 400;
    text-decoration: none;
}

.login_input {
    border-radius: 20px 20px 20px 20px;
    border: 2px solid rgb(22,123,121);
    margin: 1vh;
    width: 30vw;
    height: 6vh;
    padding-left: 15px;
}

.input_error {
    border-radius: 5px 5px 5px 5px;
    border: 2px solid rgb(204 51 63);
    margin: 1vh;
    width: 30vw;
    height: 6vh;
    padding-left: 15px;
}

.error_message_div {
    margin-top: 20px;
}

.error_message_div h5 {
    color: rgb(204 51 63);
    margin-bottom: 0px;
    display: block;
}

.input_error:focus,
.login_input:focus {
    outline: none;
}

#login_form {
    position: relative;
    top: 24vh;
}

.star {
    font-weight: bold;
    font-size: 30px;
}

#login_button {
    position: relative;
    color: rgb(70,75,78);
    font-size: large;
    font-weight: 500;
    padding: 10px;
    width: 30vw;
    background-color: rgb(224,238,239);
    border: 1px;
}

#login_button:focus {
    outline: none;
}

.hide {
    display: none;
}
