#users_div {
    position: relative;
    width: 900px;
    top: 17vh;
    left: 22vw;
}

#edit_div svg {
    position: relative;
    right: 5px;
}

#edit_div h6 {
    float: right;
}

#edit_div .edit_done {
    color: rgb(250,68,85);
}

#edit_div button {
    outline: none;
    border: 0px;
    background-color: inherit;
}