#disapprove_div {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 30px;
    position: relative;
    width: 900px;
    top: 15vh;
    left: 25vw;
    background-color: rgb(211, 211, 211);
    border-radius: 10px 10px 10px 10px;
}

#disapprove_div h4 {
    display: inline-block;
    font-weight: 400;
    font-size: 1.75em;

}

#disapprove_div h6 {
    padding: 10px;
    padding-bottom: 10px;
    font-weight: 400;
    font-size: 1.25em;
}

#disapprove_div button:focus {
    outline: none;
}

#disapprove_div #icon_div button {
    border: 0px;
    background-color: inherit;
}

#disapprove_div #icon_div svg {
    font-size: 26px;
    position: relative;
    right: 10px;
}

#disapprove_div .post_div {
    padding-left: 20px;
    padding-right: 60px;
    padding-bottom: 30px;
}

#disapprove_div .post_div .post {
    margin-right: 0px;
}

#disapprove_div #cancel {
    margin-right: 10px;
    border-radius: 5px 5px 5px 5px;
    border: 2px solid white;
    border: 0px;
    padding: 10px;
    width: 150px;
    font-size: x-large;
}

#disapprove_div #disapprove {
    margin-left: 10px;
    width: 225px;
    border: 2px solid rgba(122, 15, 15, 0.781);
    border-radius: 10px 10px 10px 10px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: x-large;
}

#disapprove_div #disapprove svg {
    color: rgb(161, 54, 54);
    position: relative;
    right: 15px;
}