#info_pic {
    height: 35px;
    outline: none;
    margin-left: 10px;
}

/* TODO: center the pop-up on the screen */
.safetyPopup {
    background-color: white;
    padding: 20px;
    position: fixed;
    left: 300px;
    top: 50px;
    width: 850px;
    height: 600px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
}

#safetyClose {
    float: right;
}
