#register_div {
    position: relative;
    margin-left: 50vw;
    height: 100vh;
    width: 50vw;
}

.register_info {
    color: rgb(118,118,118);
    font-size: 20px;
    margin-bottom: 2vh;
}

.register_info a {
    color: rgb(73, 73, 73);
    font-weight: 400;
    text-decoration: underline;
}

.register_info h6 a:hover {
    color: rgb(83, 83, 83);
    font-weight: 400;
    text-decoration: none;
}

.register_input {
    border-radius: 20px 20px 20px 20px;
    border: 2px solid rgb(22,123,121);
    margin: 1vh;
    width: 28vw;
    height: 6vh;
    padding-left: 15px;
    color: rgb(22,123,121);
}

.register_select {
    border-radius: 20px 20px 20px 20px;
    border: 2px solid rgb(22,123,121);
    margin: 1vh;
    width: 28vw;
    height: 6vh;
    padding-left: 15px;
    font-weight: 500;
    color: rgb(22,123,121);
}

.register_input:focus,
.register_select:focus {
    outline: none;
}

#age_option {
    position: relative;
    left: 5px;
}

#register_form {
    position: relative;
    top: 21vh;
}

.star {
    font-weight: bold;
    font-size: 30px;
    color: rgb(22,123,121);
}

#signup_button {
    position: relative;
    width: 28vw;
    top: 2vh;
    color: rgb(70,75,78);
    font-size: large;
    font-weight: 500;
    height: 6vh;
    background-color: rgb(224,238,239);
    border: 1px;
}

#signup_button:focus {
    outline: none;
}

::placeholder {
    color: rgb(22,123,121);
    font-weight: 500;
}