/* styles for home page navigation component */

.home_page_nav {
  position: absolute;
  text-align: center;
  left: 25px;
  top: 15px;
}

.home_page_nav a {
  color: inherit;
}

.app_name {
  display: inline-block
}

.home_nav_logo {
  margin-left: 5px;
  margin-bottom: 10px;
  height: 30px;
}
