.locationTitle {
    float: left;
}

#done {
    /* position: absolute;
    right: 100px;
    bottom: 0px; */
    float: right;
    margin: 20px;
    text-transform: none;
}

#done:hover{
    background-color: rgba(154, 212, 160, 0.705);;
}

#checkmark {
    font-size: 20px;
}

#btnText {
    margin: 10px;
}

#bottomPin {
    position: absolute;
    left: 80px;
    bottom: 50px;
    font-size: 30px;
}

