#settings_div trow tr {
    color: rgb(70, 70, 70);
    text-align: center;
    font-weight: bolder;
    font-size: larger;
    border-bottom: 0px;
    padding-bottom: 20px;
}

#settings_div trow tr {
    color: rgb(70, 70, 70);
    text-align: center;
    font-size: large;
    border-bottom: 0px;
    padding: 0px;
}

#user_settings {
  margin-left: 250px;
  margin-top: 120px;
}


#user_settings button:hover,
#user_settings button:focus {
    outline: none;
}

#user_settings button {
  outline: none;
  background-color: inherit;
  border: none;
}

.MuiDialog-root .MuiBackdrop-root {
  z-index: 0;
}