.post {
    background-color: #F8F8F8;
    padding: 20px;
    margin: 30px 90px 30px 30px;
    border-radius: 10px;
    overflow: auto;
    height: auto;
    width: 65%;
    float: right;
}

/* .iconContainer {
    float: left;
    width: 70px;
}

.iconContainer img {
    margin: 5px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
} */

.postContent {
    padding: 15px;
}

.post-bar {
    height: 30px;
}

.post-rightBar{
    float: right;
}

.post-username {
    float: left;
}

.post-rightBar button {
    float: left;
}

.post-rightBar p {
    float: right;
}

.post p {
    margin: 0px;
}
