.post {
    background-color: white;
    padding: 30px;
    margin: 30px 90px 30px 30px;
    border-radius: 25px;
    overflow: auto;
    height: auto;
    width: 65%;
    float: right;
}

.iconContainer {
    float: left;
    width: 70px;
}

.iconContainer img {
    margin: 5px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
}

.postContent {
	/* margin: 10px;
	margin-left: 80px; */
}