.post {
    background-color: #F8F8F8;
    padding: 20px;
    margin: 30px 90px 30px 30px;
    border-radius: 10px;
    overflow: auto;
    height: auto;
    width: 65%;
    float: right;
}

.postContent {
    padding: 15px;
}

.post-bar {
    height: 30px;
}

.post-username {
    float: left;
}

.post-rightBar{
    float: right;
}

.post-rightBar button {
    float: left;
}

.post-rightBar p {
    float: right;
}

.post p {
    margin: 0px;
}

.post strong {
    margin-right: 25px;
}