.panelCard input {
    height: 50px;
    width: 40px;
    margin: 0px 0px 0px 10px;
    padding: 10px 0px 0px 0px;
    outline: none;
    border: 0px;
}

.safetyPopup {
    background-color: white;
    padding: 20px;
    position: fixed;
    left: 300px;
    top: 50px;
    width: 850px;
    height: 600px;
    border: solid 5px grey;
    border-radius: 25px;
}

#safetyClose {
    float: right;
}
